/* trainer Members Table */
.trainer-table {
  min-width: 400px;
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.trainer-table th,
.trainer-table td {
  padding: 15px;
  text-align: left;
}

.trainer-table td {
  font-weight: 400;
  color: #6a6a6a;
  font-size: 0.95rem;
  text-align: center;
}

.trainer-table th {
  background-color: #e9e9e9;
  font-weight: 600;
  text-align: center;
}

.trainer-table tr {
  border: 1px solid #C8C8C8;
}

.trainer-table thead tr {
  border-radius: 10px;
}

.trainer-table tbody tr:last-child {
  border-radius: 10px;
}

.trainer-table tr:hover {
  background-color: #f8f9fa;
}

/* Trainer Assignments Table */
.trainer-assignments-table {
  min-width: 400px;
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.trainer-assignments-table th,
.trainer-assignments-table td {
  padding: 15px;
  text-align: left;
}

.trainer-assignments-table td {
  font-weight: 400;
  color: #6a6a6a;
  font-size: 0.95rem;
  text-align: center;
}

.trainer-assignments-table th {
  background-color: #e9e9e9;
  font-weight: 600;
  text-align: center;
}

.trainer-assignments-table tr {
  border: 1px solid #C8C8C8;
}

.trainer-assignments-table tr:hover {
  background-color: #f8f9fa;
}

/* Action Button for Assign Member */
.action-btn.assign-member {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.action-btn.assign-member:hover {
  color: #ffffff;
  background-color: var(--accent-color);
}


/* Selected Member Info */
.selected-member-info {
  margin-top: 10px;
}

.member-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 8px;
  height: 100px;
}

.member-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.member-details strong {
  color: #333;
  font-size: 1rem;
}

.member-details span {
  color: #666;
  font-size: 0.9rem;
}

